.header {
    background-color: #1b1b1b;
    height: 70px;
    margin-bottom: 24px;

    > div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        > div {
            display: flex;
            align-items: baseline;

            > h1 {
                margin-right: 0.5rem;
            }
        }
    }
    padding-top: 15px;

    h1 {
        font-size: 1.5rem;

        span {
            color: #e8739c;
        }
    }
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.dropzone {
    width: 100%;
    height: 150px;
    border: 2px dashed skyblue;
    display: grid;
    place-items: center;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0);
    border-radius: 0px;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 1.5em;
    }
}

.dropzoneon {
    border-color: #e8739c;
    background-color: rgba(232, 165, 216, 0.1);
    border-radius: 50%;
}

.downloadLink {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1em;

    a {
        display: block;
        background-color: #e8739c;
        padding: 0.25em 0.5em;
        border-radius: 5px;
        text-decoration: none;
        color: #000;
        font-size: 1.2em;
        font-weight: 500;
        border: 1px solid rgba(255,255,255,0);
        transition: border 0.3s;

        &:hover {
            border-color: #fff;
        }
    }
}

.scriptInfo {

    margin-top: 1em;

    h3, p {
        margin: 0;
    }
}

.preview {
    position: absolute;
    z-index: 10;
    top: 94px;
}

label {
    color: white;
}

.options {
    margin: 1em 0;
    h3 {
        margin: 0;
    }

    > div {
        display: flex;
        justify-content: flex-start;

        > div {
            margin-right: 1em;
        }
    }
}

.checkbox {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #202020;
    display: grid;
    place-items: center;
    position: relative;

    p {
        font-size: 2em;
        color: #FFF;
        margin: 0;
        position: relative;
        top: -5px;
    }
}